.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top:120px;
    width: 870px;
    height: 570px;
    background-color: rgba(33, 50, 66, 0.699);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 12px 2px rgba(22, 21, 21, 0.491);
    
}

.containertext{
    width: 800px;
    height: 400px;
}
.containertext h2{
    margin-top: 40px
}

.linkSource {
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
}
.linkSource:hover{
cursor:pointer;
}

.logos{
    width: 15%;
    cursor:pointer;
    border-radius: 999px;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;
}
.logos:hover{
    transform: scale(1.1);
    box-shadow: 0 0 6px 1.5px rgba(10, 7, 50, 0.571);
    filter: brightness(1.1);
}
.logos:active{
transform: scale(0.9);
box-shadow: 0 0 4px 0.9px rgb(118, 118, 118);
}

.orderLog{
    display: flex;
    flex-direction: row;
}